In [84]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
import scipy
import numpy as np
import csv

In [85]:
file = "wip_csv/clean_celebs.csv"
clean_celebs1 = pd.read_csv(file)
#for some reason needed to drop unnamed column 
clean_celebs1.drop(columns =["Unnamed: 0"], inplace = True) 
#clean_celebs1.head()

In [86]:
file2 = "../SSN_data/part3.csv"
clean_muggles = pd.read_csv(file2)
#for some reason needed to drop unnamed column 
clean_muggles.drop(columns =["Unnamed: 0"], inplace = True)

In [87]:
clean_muggles.head()

  decades     name  number
0     00s    Aadan      18
1     00s  Aadarsh       5
2     00s    Aaden    2285
3     00s   Aadhya      11
4     00s     Aadi     205

In [88]:
sel_list = []
for i in clean_muggles.decades:
    if i == '10s' or i == '20s'or i == '30s'or i == '40s'or i == '50s'or i == '60s'or i == '70s' :
        sel_list.append(True)
    else:
        sel_list.append(False)

In [94]:
picked_decades_df=pd.Series(sel_list)
decades_df = pd.DataFrame(clean_muggles[picked_decades_df])
decades_df.head()

      decades    name  number
16663     10s   Aaron    4231
16664     10s   Abbie     625
16665     10s  Abbott      18
16666     10s   Abdon       6
16667     10s     Abe    1630

In [98]:
sel_list1 = []
for i in decades_df['name']:
    if i == 'Aaron':
        sel_list1.append(True)
    else:
        sel_list1.append(False)

In [100]:
name_df1=pd.Series(sel_list1)
#name_df1
final_name_df = pd.DataFrame(decades_df[name_df1])
#final_name_df.head()

C:\Users\RF18\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match