In [1]:
import pandas as pd
#read and convert one txt file into a df
df = pd.read_csv('AK.txt', delimiter=",", header=None,names=['State', 'Sex', 'year', 'Name', 'Number'])
df.head()

  State Sex  year      Name  Number
0    AK   F  1910      Mary      14
1    AK   F  1910     Annie      12
2    AK   F  1910      Anna      10
3    AK   F  1910  Margaret       8
4    AK   F  1910     Helen       7

In [2]:
import pandas as pd
import glob

name_df = pd.DataFrame()

for files in glob.glob('Files by name/*.txt'):
    comb_data = pd.read_csv(files,names=['state', 'gender', 'year', 'name', 'count'])

    name_df = pd.concat([name_df,comb_data],axis=0,ignore_index=True)
name_df.pd.to_csv()

AttributeError: module 'pandas' has no attribute 'name_df'