In [2]:
import os
import pandas as pd
from google.cloud import bigquery
import bq_helper
from bq_helper import BigQueryHelper

In [3]:
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "service account key.json"

In [4]:
client = bigquery.Client()

In [5]:
bq_assistant = BigQueryHelper("bigquery-public-data", "usa_names")
bq_assistant.list_tables()

['usa_1910_2013', 'usa_1910_current']

In [19]:
usa_names_df = bq_assistant.head("usa_1910_current", num_rows=6028151)
usa_names_df.head()

  state gender  year      name  number
0    OH      F  1910      Mary    1099
1    OH      F  1910     Helen     698
2    OH      F  1910   Dorothy     487
3    OH      F  1910      Ruth     457
4    OH      F  1910  Margaret     452

In [20]:
len(usa_names_df)
#6028151

6028151

In [21]:
unique_names_gender = usa_names_df.groupby('name')['gender'].nunique().sort_values(ascending=False)
unique_names_gender

name
Norvell      2
Robbie       2
Robbin       2
Ashlee       2
Latisha      2
Ashleigh     2
Jagger       2
Ashley       2
Teresa       2
Mia          2
Latonya      2
Robert       2
Ashly        2
Ashlyn       2
Meyer        2
Jaelyn       2
Roberto      2
Latoya       2
Jaelin       2
Fallon       2
Robie        2
Jaelen       2
Ashten       2
Ashtin       2
Ashton       2
Ashtyn       2
Robin        2
Tenzin       2
Latrell      2
Terez        2
            ..
Melik        1
Meliah       1
Melannie     1
Melia        1
Melanny      1
Melany       1
Melanye      1
Melat        1
Melayna      1
Melaysia     1
Melba        1
Melbourne    1
Melburn      1
Melchor      1
Melchora     1
Melda        1
Mele         1
Melea        1
Meleah       1
Meleana      1
Meleane      1
Melecio      1
Meleena      1
Melena       1
Meleni       1
Melenie      1
Meleny       1
Melessa      1
Melford      1
Aaban        1
Name: gender, Length: 31595, dtype: int64

In [22]:
unique_names_state = usa_names_df.groupby('name')['state'].nunique().sort_values(ascending=False)
unique_names_state

name
Evan          51
Larry         51
Luna          51
John          51
Adeline       51
Cindy         51
Tara          51
Brittney      51
Ashley        51
Tanya         51
Edwin         51
Mike          51
Edward        51
Ashleigh      51
Ashlee        51
Mikayla       51
Johnathan     51
Aliyah        51
Priscilla     51
Lukas         51
Preston       51
Miles         51
Brittany      51
Craig         51
Mildred       51
Aden          51
Kara          51
Alisha        51
Jaime         51
Alison        51
              ..
Keyatta        1
Keshara        1
Keyarah        1
Keyanta        1
Keyani         1
Kewon          1
Kewanda        1
Kewan          1
Kevork         1
Kevondrick     1
Kevis          1
Kevinisha      1
Keveon         1
Kevaughn       1
Keundra        1
Ketzaly        1
Ketty          1
Ketsy          1
Ketsia         1
Ketrick        1
Ketra          1
Ketina         1
Kethan         1
Ketara         1
Ketan          1
Kestutis       1
Kessler        1
Keslyn         1
Kesley         1
Aaban          1
Name: state, Length: 31595, dtype: int64